---
layout: default
post_scripts:
    - /js/question.js
redirects:
    - not_logged_in
---

<h1>
    <div class="prev-button">
        {% if page.previous %}
            <a href="{{ page.previous.url }}">
        {% else %}
            <a href="javascript:void(0)" class="disabled">
        {% endif %}
        &lt;&lt;</a>
    </div>
    <div class="next-button">
        {% if page.next %}
            <a href="{{ page.next.url }}">
        {% else %}
            <a href="javascript:void(0)" class="disabled">
        {% endif %}
        &gt;&gt;</a>
    </div>
    {{ page.title }}
</h1>

<form id="question-form">
    {{ content }}
    <input type="hidden" name="question" value="{{ page.question }}" />
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
